@import "tailwindcss";
@import "./styles/buttons";
@import "./styles/colors";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.danger-shadow {
  box-shadow: rgba(239, 68, 68, 0.4);
}

/* Scroll bar*/

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #333;
}

/* For rendering AI generated content */

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
  padding-right: 20px;
}

li {
  margin-bottom: 5px;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
